.SingleChatContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SingleChatContainer .left-panel {
  margin-top: 6vh;
  padding: 0;
  width: 35vw;
  height: 94vh;
  background-color: rgb(73, 66, 68);
}

.SingleChatContainer .users-boxes {
  width: 31vw;
  margin: 30px 25px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  height: 50px;
  background-color: #212529;
}

.SingleChatContainer h2 {
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  margin-left: 20px;
  height: 40px;
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SingleChatContainer .chatHistory {
  display: flex;
  justify-content: baseline;
  flex-direction: column-reverse;
  overflow-y: scroll;
  margin-top: 6vh;
  padding: 0;  
  width: 65vw;
  height: 88vh;
  background-color:rgb(73, 66, 68);
  border-left: 3px solid white;
}

.SingleChatContainer .right-sided {
  padding: 3px;
  list-style-type: none;
  direction: rtl;
  margin-right: 25px;
}

.SingleChatContainer .left-sided {
  text-align: right;
  list-style-type: none;
  list-style-position: inside;
}

.SingleChatContainer .text-blocks {
  width: max-content;
  margin: 5px 0;
  padding: 1px 15px;
  background-color: #212529;
  border-radius: 8px;
}

.SingleChatContainer .username {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: rgb(78, 61, 231);
}

.SingleChatContainer .message { 
  margin: 0 0 6px 0;
  padding: 0;  
  color: white;
  text-align: center;
  width: max-content;
  font-size: 20px;
}

.SingleChatContainer .time {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: right;
  color: white;
}

.SingleChatContainer .messageInput {
  display: flex;
  width: 65vw;
  height: 5.7vh;
  background-color: rgb(73, 66, 68);
  border-top: solid 3px white;
  border-left: solid 3px white;
}

.SingleChatContainer input {
  width: 60vw;
  border: none; 
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.SingleChatContainer input:focus {
  width: 60vw;
  border: none;
  padding-top: 5px; 
  margin: 10px;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
}

.SingleChatContainer button {
  width: 10vw;
  background-color: #f8f9fa;
  border: 2px solid #212529;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
}

.SingleChatContainer button:hover {
  background-color: rgb(46, 46, 58);
  color: white;
  border: white solid 2px;
  border-radius: 10px;
}