.buttonCard{

}
.buttonPosition{

}
.butt{

}
.margint{
  margin-top: 40px;
}
.next{
  background-color: #424245;
}

.card{
  background-color: white;
  gap: 1rem;
  justify-content: space-between;

}
.cardmargin{
  gap: 4rem;
  
}
.CardContainer{
  margin-top: 72px;
 display:flex;
 justify-content: center;
  gap: 4rem;
}
.MainPageContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  color: rgb(34, 27, 27);
}  

.MainPageContainer-upperLarge {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90vw;
  background-color: #f8f9fa;
  border: #212529 solid 3px;
  height: 500px;
}

.MainPageContainer-parentOfSmall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPageContainer-upperLarge-h1 {
 
  text-align: left;
  color: #212529;
  font-size: 40px;
  margin-top: 100px;
}

.MainPageContainer-upperLarge-p {
  margin: 50px;
  text-align: left;
  color: #212529;
  font-size: 25px;
}

.MainPageContainer-bottomDark {
  margin: 20px 0 0 0;
  padding: 0;
  width: 47vw;
  height: 350px;
  background-color: #424245;
  border: #424245 solid 3px;
}

.MainPageContainer-bottomLight {
  margin: 20px 0 0 0;
  padding: 0;
  width: 47vw;
  height: 350px;
  background-color: #f8f9fa;
  border: #f8f9fa solid 3px;
}

.MainPageContainer-bottomDark-p {
  margin: 20px;
  text-align: left;
  font-size: 21px;
  color: white;
}

.MainPageContainer-bottomLight-p {
  margin: 20px;
  text-align: left;
  font-size: 21px;
  color: black;
}