.pagesHeader {
  top: 0;
  position: fixed;
  display: flex;
  background-image: linear-gradient(to right, rgb(3, 95, 255) , rgb(18, 32, 107));;
  width: 100%;
  height: 6vh;
  margin: 0;
  padding: 10px;
  text-decoration: none solid rgb(255, 255, 255);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  border-bottom: solid 0.5px white;
  justify-content: space-between;
}

.pagesHeader h2 {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  margin-left: 20px;
  height: 40px;
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pagesHeader nav {
  padding: 0;
  margin: 0 20px 0 0;
  width: 32vw;
  height: 40px;
  display: flex;
  align-items: center;
}
 
.pagesHeader a {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  text-decoration: none solid rgb(255, 255, 255);
  font-size: 18px;
  padding: 5px;
  height: 30px;
  font-weight: 700;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.pagesHeader a:hover {
  color: orange;
  border-bottom: white solid 2px;
}

.pagesHeader h2:hover {
  color: orange;
}